includes:
  - ./phpstan-baseline.neon

parameters:

  paths:
    - src

  # The level 8 is the highest level
  level: 7

  ignoreErrors:
    - identifier: function.alreadyNarrowedType
    - identifier: trait.unused
    - '#Method [a-zA-Z\\\<\>]+::handle\(\) should return bool\|null but returns int.#'

  treatPhpDocTypesAsCertain: false
