parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'path' on Illuminate\\\\Contracts\\\\Foundation\\\\Application\\.$#"
			count: 1
			path: src/Commands/GeneratorCommand.php

		-
			message: "#^Method Orchestra\\\\Canvas\\\\Core\\\\Commands\\\\GeneratorCommand\\:\\:handle\\(\\) should return bool\\|null but returns int\\.$#"
			count: 1
			path: src/Commands/GeneratorCommand.php

		-
			message: "#^Parameter \\#1 \\$app of class Orchestra\\\\Canvas\\\\Core\\\\Presets\\\\Laravel constructor expects Illuminate\\\\Contracts\\\\Foundation\\\\Application, Illuminate\\\\Contracts\\\\Container\\\\Container given\\.$#"
			count: 1
			path: src/PresetManager.php
